# zops.anatomy feature python-project
*.pyc
*.pyd
*.pyo
# setuptools
/*.egg-info/
/.eggs/
__pycache__/
/dist/
/build/
# ?
/.cache/

# zops.anatomy: feature:ide-ignores
/.idea/
/.settings/
/.project
/.pydevproject

# zops.anatomy: feature:ansible-ignores
/*.retry

# zops.anatomy: feature:ci
/junit.xml
